<div style="text-align:center;padding-top: 70px" >
    <p>Written by Mike Springer.</p>
    <p>Preformed and Arranged by Chris Albert and Mike Springer</p>
    <p>Recorded and Produced by Ryan Andes</p>
    <p>Co produced by Chris Albert and Mike Springer</p>
</div>
<img src="/assets/images/meekcreek.jpg" height="420px" width="640px"/>