<div class="header">Black Kaweah</div>
<div class="navigation_main_container">
    <div class="navigation">
        <span>{{#link-to "music"}}Music{{/link-to}}</span>
        <span>{{#link-to "about"}}About{{/link-to}}</span>
        <span>{{#link-to "contact"}}Contact{{/link-to}}</span>
    </div>
</div>
<div class="main_content_container">
    <div class="main_content">
      {{outlet}}
    </div>
</div>
<div class="footer">Formations</div>
