<div style="text-align:center; padding-top: 440px; color: white;" >
  <p>booking@blackkaweahmusic.com</p>
  <a href="https://www.instagram.com/blackkaweahmusic/?hl=en">
    <h3>Instagram</h3>
  </a>
  <a href="http://www.facebook.com/blackkaweahmusic">
    <h3>Facebook</h3>
  </a>
  <a href="https://twitter.com/blackkaweahz">
    <h3>Twitter</h3>
  </a>
</div>