<div style="text-align:center;padding-top: 70px" >
    <h2>Donations</h2>
    <p>We give all of our music away for free, please support us by donating. Thank You, Black Kaweah.</p>
    <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
        <input type="hidden" name="returnUrl" value="http://www.blackkaweahmusic.com" >
        <input type="hidden" name="processImmediate" value="1" >
        <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
        <input type="hidden" name="signatureMethod" value="HmacSHA256" >
        <input type="hidden" name="collectShippingAddress" value="0" >
        <input type="hidden" name="isDonationWidget" value="0" >
        <input type="hidden" name="amazonPaymentsAccountId" value="LANVKIOATWQN1F1UUV1BIKGLHUMQMQ8MSDZ4J9" >
        <input type="hidden" name="cobrandingStyle" value="logo" >
        <input type="hidden" name="immediateReturn" value="1" >
        <input type="hidden" name="amount" value="USD 5" >
        <input type="hidden" name="description" value="$1 Donations" >
        <input type="hidden" name="signatureVersion" value="2" >
        <input type="hidden" name="signature" value="LT5a6HBabg0a3NG0OCOO3bshq+mAwWDbffiIakbK5aU=" >
        <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_small_paynow_withmsg_whitebg.gif" border="0">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="26SSDY7CW6XPN">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>