<div style="text-align:center; padding-top: 480px; color: white;" >
  <a href="#">
    <h3>Bandcamp</h3>
  </a>
  <a href="https://www.instagram.com/blackkaweahmusic/?hl=en">
    <h3>Youtube</h3>
  </a>
</div>